<h1><%= @place["name"] %></h1>

<h2>Activities</h2>

<ul>
  <% for entry in @entries %>
    <h2><%= entry["title"] %></h2>
    <p><%= entry["description"]%></p>
    <p><%= entry["date_posted"]%></p>
  
 
  <% end %>
</ul>


<p><a href="/entries/new">New Entry</a>
</p>


<p><a href="/places">Back to Places I've Been</a></p>



<form action="/places/<%= @place["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Place</button>
</form>