<h1><%= @place["name"] %></h1>

<h2>Activities</h2>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>">
        <%= contact["title"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/contacts/new?company_id=<%= @company["id"] %>">New Contact</a>
</p>

<p><a href="/companies">Back to All Companies</a></p>

<p><a href="/companies/<%= @company["id"] %>/edit">Edit Company</a></p>

<form action="/companies/<%= @company["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Company</button>
</form>